.blog-sidebar {

    .widget {
        margin-bottom: 1.5rem;

        .widget-title {

        }

        .widget-content {

        }
    }

    .widget-categories {
        .widget-content {
            .categories-list {
                li {
                    display: flex;
                    align-items: center;
                    align-content: space-between;
                    justify-content: space-between;
                    padding: 8px 0;

                    border-bottom: solid 1px #e8e6e6;

                    &:last-of-type {
                        border-bottom: none;
                    }

                    a {
                        font-size: 1rem;
                        line-height: 1;
                    }
                }
            }
        }
    }

    .widget-tags {
        .widget-content {
            .tags-list {
                li {
                    display: block;
                    padding: 8px 0;

                    a {
                        font-size: 1rem;
                        line-height: 1.7;
                        word-break: break-word;
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}
