.loop-post {
    background-color: $color-white;
    -webkit-box-shadow: 0px 4px 8px 1px rgba(27,40,69,0.61);
    box-shadow: 0px 4px 8px 1px rgba(27,40,69,0.61);

    .entry-image {
        max-width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .entry-title {
        font-size: 1rem;
        line-height: 1.4;
    }


    .article-meta {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-start;
        border-top: solid 1px $color-white-smoke;

        .author-image {
            width: 40px;
            height:40px;
        }
    }
}
