@import "inc/loop";
@import "inc/related-posts";
@import "inc/pagination";

.page-404,
.page-500,
.page-under-maintenance {
    .page-content-wrap {
        padding: 50px 0 200px 0;

        .title {
            font-size: 12rem;
        }

        .subtitle {
            margin-top: 3rem;
            font-size: 2rem;
        }
    }
}

.page-under-maintenance {
    .title { font-size: 6rem !important; }
}
