.vpdt-site-footer {
    background-color: $color-white-smoke;

    .footer-content-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        padding: 1rem 0 0 0;

        @media (max-width: 767px) {
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }

        a {
            color: $vpdt-vermilion;

            &:active,
            &:focus,
            &:hover {
                color: $vpdt-body-text-color;
            }
        }

        .footer-menu-nav .footer-menu-wrap li {
            display: inline-block;
            margin: 0 5px;

            &:last-of-type {
                margin-right: 0;
            }
        }

    }

}
