@import "menu/basic", "menu/dropdown", "menu/mega-menu";
.topnav {
    overflow: hidden;
    margin-top: 5px;

    a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: $color-black;
    }

    .active {
        color: $color-red;
    }
}





