//#! Helper classes
.hidden { display:none !important;}
.image-responsive { max-width: 100%;}

//
body { background-color: #f5f4f4; font-size: 1rem; line-height: 1; }
img, a {border: none 0; outline: none;}


.font-default {
    @include body-font;
}

.alert p { margin-bottom: 0 !important; }
.search-form {
    .search-field { padding: 0.25rem; }
    .search-button { padding: 7px;}
}
