//#! Helper classes
.hidden { display:none !important;}
.image-responsive { max-width: 100%;}

//
body { background-color: #f5f4f4; font-size: 0.9rem; line-height: 1; }
img, a {border: none 0; outline: none;}


.font-default {
    @include body-font;
}

.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }

.mt-4 { margin-top: 2rem !important; }
.mb-4 { margin-bottom: 2rem !important; }

.text-grey { color: #808080; }


.bg-blue {
    background-color: #23527c;
}
.bg-danger {
    background-color: #cc0000;
}

a.bg-danger {
    color: #f2f2f2;

    &:active,
    &:focus,
    &:hover {
        background-color: #73161e;
        color: #fff;
    }
}

.alert p { margin-bottom: 0 !important; }
.search-form {
    .search-field { padding: 0.25rem; }
    .search-button { padding: 7px;}
}
