@mixin body-font {
    font-family: 'Open Sans', sans-serif;
}
@mixin heading-font {
    font-family: 'Montserrat', sans-serif;
}

//------------------
@mixin link-red {
    color: $vpdt-vermilion;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: $vpdt-mandarin;
        text-decoration: none;
    }
}
@mixin link-blue {
    color: $color-blue-2;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: $color-blue-5;
        text-decoration: none;
    }
}
@mixin link-green {
    color: $color-green;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: $color-green-2;
        text-decoration: none;
    }
}

@mixin with-hover-underline {
    text-decoration: underline !important;
}
