$color-white: #fff;
$color-white-smoke: #f5f5f5;
$color-blue: #3776b7;
$color-black: #000;
$color-light-grey: #c1bfbf;
$color-dark-grey: #888;
$color-red: #c00;
$color-green: #090;
$color-green-2: #060;
//============================

$vpdt-body-text-color: #212529;

$color-blue-1: #c8d9ed;
$color-blue-1-rgb: rgb(200,217,237);
$color-blue-2: #0075ff;
$color-blue-3: #2f5b8b;
$color-blue-4: #395f8e;
$color-blue-5: #0056b3;
//--
$vpdt-blue-jeans: #35A7FF;
$vpdt-blue-indigo-dye: #274060;
$vpdt-blue-space-cadet: #1b2845;
$vpdt-mandarin: #ef7b45;
$vpdt-vermilion: #d84727;
$vpdt-red: #f00;


