/*
    [[ NAVBAR
    ------------------------------
*/
.vp-navbar {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: space-around;

    &.basic {
        .vp-navbar-nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            align-content: space-around;
        }
    }
}

@import "inc/nav-menu";
@import "inc/nav-menu-mega-menu";


.vpdt-site-header {

    .logo {
        color: $color-blue-3;
        font-size: 1.4rem;

        a {
            color: $color-blue-3;

            &:active,
            &:focus,
            &:hover {
                color: $vpdt-blue-indigo-dye;
            }
        }
    }

    .inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        padding: 1rem 0;

        @media(max-width: 767px){
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }
    }

}
