.page-blog {
    .featured-post {
        width: 400px;
        padding: 1.5rem;
        -webkit-box-shadow: 0px 8px 21px 1px rgba(27,40,69,0.61);
        box-shadow: 0px 8px 21px 1px rgba(27,40,69,0.61);
        background-color: $color-white;

        @media(max-width: 767px){
            width: 100%;
        }

        .entry-title {
            a {
                @include link-red;
            }
        }

        .excerpt {
            margin: 0 0;
            padding: 0 0;

            p {
                margin: 0 0;
                padding: 0 0;
            }
        }
    }
}

.blog-entries article,
.related-posts article { height: 100%; }
