.vp-navbar.basic,
.vp-navbar.dropdown {
    a {
        float: left;
        display: block;
        color: #212529;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .active {
        background-color: #4CAF50;
    }

    .btn-toggle-nav {
        display: none;
    }

    .has-submenu {
        float: left;
        overflow: hidden;

        &.active {
            background-color: #4CAF50;
        }

        .show-submenu {
            border: none;
            outline: none;
            padding: 14px 16px;
            background-color: inherit;
            margin: 0;
        }

        .submenu-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            z-index: 3;

            a {
                float: none;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                color: #0D0A0A;

                &:hover {
                    background-color: #ddd;
                    color: black;
                }
            }
        }

        &:active,
        &:focus,
        &:hover {
            > .submenu-content {
                display: block !important;
            }
        }

    }

    a:hover, .has-submenu:hover .show-submenu {
        background-color: #4CAF50;
    }

    //#! BG Dark, Text light
    &.bg-dark.text-light {
        > a, .show-submenu {
            color: #212529;
        }
    }

    @media (max-width: 767px) {
        a:not(:first-child), .has-submenu .show-submenu {
            display: none;
        }
        a.btn-toggle-nav {
            float: right;
            display: block;
        }
    }

    @media (max-width: 767px) {
        &.responsive {
            position: relative;
        }
        &.responsive .btn-toggle-nav {
            position: absolute;
            right: 0;
            top: 0;
        }
        &.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        &.responsive .has-submenu {
            float: none;
        }
        &.responsive .submenu-content {
            position: relative;
        }
        &.responsive .has-submenu .show-submenu {
            display: block;
            width: 100%;
            text-align: left;
        }
    }
}
