.vpdt-navbar {
    .vpdt-navbar-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;

        .menu-item {
            color: $color-blue-3;
            text-decoration: none;
            padding: 0.5rem 0.9rem;
            margin: 0 0.2rem;

            @media(max-width: 767px) {
                padding: 0.5rem 0.5rem;
            }

            &:active,
            &:focus,
            &:hover,
            &.active{
                background-color: $color-blue-3;
                color: $color-white;
                text-decoration: none;
                border-radius: 4px;
            }

            &.btn-toggle-nav {
                display: none;
            }
        }
    }
}
