@import "blog-single";

.page-blog {

    .loop-post {
        .article-header {
        }

        .article-meta {
            border-top: solid 1px #ddd;
        }

        .article-content {
            line-height: 1.4;
        }

        .entry-title {
            font-size: 1.3rem;
        }
    }
}
